
.principal h1 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 95px;
    margin: 25px 0px;
}

#substancia {
    padding-left: 248px;
    font-size: 13px;
}

#grid-equacao {
    display: grid;
    grid-template-columns: 170px 100px 40px 50px 0px;
    padding-left: 95px;
}

#analito, #titulante, p2, p4 {
    color: #fff;
}

.principal p {
    font-size: 16px;
    color: #ffffff;
}

.titulo {
    font-size: 28px !important;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 0px !important;
}

.exercicios div {
    color: #fff;
    padding: 0px 95px;
}

.exercicios {
    padding-bottom: 200px;
}

.custom-shape-divider-top-1658081412 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -10;
}

.custom-shape-divider-top-1658081412 svg {
    position: relative;
    display: block;
    width: calc(136% + 210.3px);
    height: 201px;
}

.custom-shape-divider-top-1658081412 .shape-fill {
    fill: #19273A;
}