* {
    overflow: hidden;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
}

#principal {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#duvida-botao {
    position: fixed;
    right: 0.5%;
    cursor: pointer;
    bottom: 1%;
    width: 42px;
    z-index: 2;
}

#mesa {
    position: absolute;
    bottom: 0px;
    z-index: -2;
}

#voltar {
    position: fixed;
    left: 0.5%;
    cursor: pointer;
    bottom: 1%;
    width: 42px;
    z-index: 2;
}

#titulacao {
    position: fixed;
    right: 0.5%;
    cursor: pointer;
    top: 1%;
    width: 42px;
    display: none;
    z-index: 2;
}

#sidebar-secundario a {
    font-size: 18px;
    font-weight: 400;
    padding-left: 50px;
    padding-top: 5px;
}

#sidebar-secundario a:hover {
    padding-left: 60px;
}

#btnAcido {
    position: absolute;
    bottom: 390px;
    left: 626px;
    width: 95px;
    height: 60px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,1.0);
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    z-index: 2;
}
/*
COMBO BOX
*/

.input-Acido {
    position: absolute;
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    color: white;
    border: 2px solid rgba(255,255,255,1.0);
    left: 520px;
    top: 350px;
    z-index: 2;
    display: none;
}

#iAcido {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    left: 792px;
    top: 327px;
    display: none;
    font-size: 15px;
    z-index: -1;
}

.AcidodropDown{
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 3px 3px;
    margin-top: 10px;
    padding-top: 15px;
    border: 2px solid rgba(255,255,255,1.0);
    height: 130px;
    color: white;
    overflow: auto;
    position: relative;
    font-size: 15px;
    left: 520px;
    top: 325px;
    display: none;
    z-index: 2;
}

.Acidoitem{
    height: 40px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: 0.6s;
    cursor: pointer;
}

.Acidoitem:hover{
    padding-left: 15px;
    transition: 0.6s;
}

.input-Base {
    position: absolute;
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    color: white;
    border: 2px solid rgba(255,255,255,1.0);
    left: 520px;
    top: 350px;
    z-index: 2;
    display: none;
}

#iBase {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    left: 792px;
    top: 327px;
    display: none;
    font-size: 15px;
    z-index: -1;
}

.BasedropDown{
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 3px 3px;
    margin-top: 10px;
    padding-top: 15px;
    border: 2px solid rgba(255,255,255,1.0);
    height: 130px;
    color: white;
    overflow: auto;
    position: relative;
    font-size: 15px;
    left: 520px;
    top: 325px;
    display: none;
    z-index: 2;
}

.Baseitem{
    height: 40px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: 0.6s;
    cursor: pointer;
}

.Baseitem:hover{
    padding-left: 15px;
    transition: 0.6s;
}

#btnBase {
    position: absolute;
    bottom: 230px;
    left: 626px;
    width: 95px;
    height: 60px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,1.0);
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    z-index: 2;
}

::-webkit-input-placeholder {
    color:white;
    font-size: 15px;
}
input::-moz-placeholder{
    color: white;
    font-size: 15px;
}

::-webkit-scrollbar{
    background-color: rgb(255, 255, 255)smoke;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #fffffff5;
}

#mais {
    position: absolute;
    background-color: rgba(0, 0, 0, 0   );
    border: 2px solid rgba(255,255,255,1.0);
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    width: 42px;
    height: 42px;
    right: 501px;
    top: 546px;
    z-index: 2;
    display: none;
}

#menos {
    position: absolute;
    background-color: rgba(0, 0, 0, 0   );
    border: 2px solid rgba(255,255,255,1.0);
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    width: 42px;
    height: 42px;
    right: 501px;
    top: 620px;
    z-index: 2;
    display: none;
}

#mol {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 15px;
    right: 550px;
    top: 591px;
    display: none;
}

#indicador {
    position: absolute;
    left: 520px;
    top: 350px;
    width: 150px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255,255,255,1.0);
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    font-size: 17px;
    z-index: 2;
    display: none;
}

#titulo {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    animation-name: titulo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.video {
    max-width: 70%;
}

#video-container {
    display: none;
}

.p-video{
    padding: 20px;
    color: #3a3a3a;
}

.p-video a:visited {
    color: #364ba8;
}

.p-video a:link {
    color: #364ba8;
    text-decoration: none;
}

.swal-title {
    margin: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.295);
    padding-top: 0px;
    color: rgba(0, 0, 0, 0.747);
}

.swal-footer {
    background-color: rgba(0, 0, 0, 0.095);
    border-top: 1px solid #e9eef1af;
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 10px;
    
}

.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    bottom: 10%;
}

.swal-button {
    padding: 12px 20px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
}

.swal-button:not([disabled]):hover {
    background-color: rgba(0, 0, 0, 0.660);
}

.duvida-alert .swal-button--cancel {
    color: #fff;
}

.mobile-alert .swal-title{
    font-size: 18px;
}

.duvida-alert {
    width: 70%;
}

.duvida-alert .swal-title{
    font-size: 26px;
}

@media (max-height: 425px) {
    #mesa {
        width: 470px;
    }

    #btnAcido {
        left: 232px;
        bottom: 200px;
        font-size: 10px;
        height: 35px;
        width: 55px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    #btnBase {
        left: 232px;
        bottom: 112px;
        font-size: 10px;
        height: 35px;
        width: 55px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    #indicador {
        left: 200px;
        top: 100px;
        font-size: 12px;
        height: 50px;
        width: 100px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    #mol {
        right: 194px;
        top: 177px;
        font-size: 8px;
        font-weight: 400;
    }

    #mais {
        right: 155px;
        top: 140px;
        width: 30px;
        height: 30px;
        font-size: 10px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    #menos {
        right: 155px;
        top: 190px;
        width: 30px;
        height: 30px;
        font-size: 10px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    .input-Acido {
        left: 150px;
        top: 90px;
        width: 150px;
        height: 30px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    #iAcido {
        left: 280px;
        top: 60px;
        font-size: 10px;
    }
    
    .AcidodropDown{
        left: 150px;
        top: 57px;
        width: 150px;
        height: 67px;
        font-size: 10px;
        border: 1px solid rgba(255,255,255,1.0);
    }

    .Acidoitem{
        height: 28px;
    }

    .input-Base {
        left: 150px;
        top: 90px;
        width: 150px;
        height: 30px;
        border: 1px solid rgba(255,255,255,1.0);
    }
    
    #iBase {
        left: 280px;
        top: 60px;
        font-size: 10px;
    }
    
    .BasedropDown{
        left: 150px;
        top: 57px;
        width: 150px;
        height: 67px;
        font-size: 10px;
        border: 1px solid rgba(255,255,255,1.0);
    }
    
    .Baseitem{
        height: 28px;
    }

    ::-webkit-input-placeholder {
        color:white;
        font-size: 11px;
    }
    input::-moz-placeholder{
        color: white;
        font-size: 11px;
    }
}

