@media (max-width: 1680px) {
    #btnAcido {
        left: 506px;
    }

    #btnBase {
        left: 506px;
    }

    #mol {
        right: 429px;
        top: 561px;
    }

    #mais {
        right: 380px;
        top: 510px;
    }

    #menos {
        right: 380px;
        top: 590px; 
    }

    #indicador {
        left: 400px;
    }

    .input-Acido {
        left: 400px;
    }

    #iAcido {
        left: 675px;
    }
    
    .AcidodropDown{
        left: 400px;
    }

    .input-Base {
        left: 400px;
    }

    #iBase {
        left: 675px;
    }
    
    .BasedropDown{
        left: 400px;
    }
}

@media (max-width: 1600px) {
    #mesa {
        width: 800px;
    }

    #btnAcido {
        left: 508px;
        top: 406px;
        font-size: 15px;
        width: 85px;
        height: 55px;
    }

    #btnBase {
        left: 508px;
        top: 546px;
        font-size: 15px;
        width: 85px;
        height: 55px;
    }

    #mol {
        right: 434px;
        top: 460px;
    }

    #mais {
        right: 380px;
        top: 410px;
    }

    #menos {
        right: 380px;
        top: 490px; 
    }

    #indicador {
        left: 400px;
        top: 300px;
        height: 70px;
    }

    .input-Acido {
        left: 400px;
        top: 300px;
    }

    #iAcido {
        left: 673px;
        top: 277px;
    }
    
    .AcidodropDown{
        left: 400px;
        top: 275px;
    }

    .input-Base {
        left: 400px;
        top: 300px;
    }

    #iBase {
        left: 675px;
        top: 300px;
    }
    
    .BasedropDown{
        left: 400px;
        top: 300px;
    }
}

@media (max-width: 1440px) and (max-height: 1080px)  {
    #btnAcido {
        left: 428px;
        top: 588px;
    }

    #btnBase {
        left: 428px;
        top: 725px;
    }

    #mol {
        right: 355px;
        top: 640px;
    }

    #mais {
        right: 300px;
        top: 588px;
    }

    #menos {
        right: 300px;
        top: 670px;
    }

    #indicador {
        left: 350px;
        top: 450px;
    }

    .input-Acido {
        left: 350px;
        top: 450px;
    }

    #iAcido {
        left: 624px;
        top: 426px;
    }
    
    .AcidodropDown{
        left: 350px;
        top: 425px;
    }

    .input-Base {
        left: 350px;
        top: 450px;
    }

    #iBase {
        left: 624px;
        top: 426px;
    }
    
    .BasedropDown{
        left: 350px;
        top: 425px;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {
    #btnAcido {
        left: 428px;
        top: 408px;
    }

    #btnBase {
        left: 428px;
        top: 545px;
    }

    #mol {
        right: 355px;
        top: 460px;
    }

    #mais {
        right: 300px;
        top: 408px;
    }

    #menos {
        right: 300px;
        top: 490px;
    }

    #indicador {
        left: 350px;
        top: 270px;
    }

    .input-Acido {
        left: 350px;
        top: 270px;
        width: 280px;
    }

    #iAcido {
        left: 604px;
        top: 246px;
        font-size: 12px;
    }
    
    .AcidodropDown{
        left: 350px;
        top: 245px;
        width: 280px;
    }

    .input-Base {
        left: 350px;
        top: 270px;
        width: 280px;
    }

    #iBase {
        left: 604px;
        top: 246px;
        font-size: 12px;
    }
    
    .BasedropDown{
        left: 350px;
        top: 245px;
        width: 280px;
    }

    #voltar {
        width: 36px;
    }

    #duvida-botao {
        width: 36px;
    }

    #titulacao { 
        width: 36px;
    }
}

@media (max-width: 1366px) { 
    #mesa {
        width: 700px;
    }
    
    #btnAcido {
        left: 422px;
        top: 317px;
        font-size: 13px;
        height: 50px;
    }

    #btnBase {
        left: 422px;
        top: 447px;
        font-size: 13px;
        height: 50px;
    }

    #mol {
        right: 369px;
        top: 371px;
        font-size: 12px;
    }

    #mais {
        right: 320px;
        top: 323px;
        width: 38px;
        height: 39px;
        font-size: 14px;
    }

    #menos {
        right: 320px;
        top: 393px;
        width: 38px;
        height: 39px;
        font-size: 14px;
    }

    #indicador {
        left: 350px;
        top: 220px;
        height: 60px;
        width: 120px;
        font-size: 14px;
    }

    .input-Acido {
        left: 350px;
        top: 220px;
        width: 260px;
        height: 38px;
    }

    ::-webkit-input-placeholder {
        color:white;
        font-size: 12px;
    }
    input::-moz-placeholder{
        color: white;
        font-size: 12px;
    }

    #iAcido {
        left: 586px;
        top: 194px;
    }
    
    .AcidodropDown{
        left: 350px;
        top: 193px;
        width: 260px;
        height: 100px;
        font-size: 13px;
    }

    .Acidoitem{
        height: 38px;
    }

    .input-Base {
        left: 350px;
        top: 220px;
        width: 260px;
        height: 38px;
    }

    #iBase {
        left: 586px;
        top: 194px;
        font-size: 11px;
    }
    
    .BasedropDown{
        left: 350px;
        top: 193px;
        width: 260px;
        height: 100px;
        font-size: 13px;
    }

    .Baseitem{
        height: 38px;
    }

}

@media (max-width: 1280px) and (max-height: 1024px){ 
    #mesa {
        width: 800px;
    }
    
    #btnAcido {
        left: 349px;
        top: 530px !important; 
    }

    #btnBase {
        left: 349px;
        top: 670px !important; 
    }

    #mol {
        right: 280px;
        top: 584px !important;
        font-size: 14px; 
    }

    #mais {
        right: 230px;
        top: 533px !important; 
    }

    #menos {
        right: 230px;
        top: 613px !important; 
    }

    #indicador {
        left: 260px;
        top: 420px;
        width: 150px;
    }

    .input-Acido {
        left: 260px;
        top: 420px;
        width: 280px;
    }

    #iAcido {
        left: 515px;
        top: 394px;
        font-size: 11px;
    }
    
    .AcidodropDown{
        left: 260px;
        top: 393px;
        width: 280px;
        height: 120px;
    }

    .input-Base {
        left: 260px;
        top: 420px;
        width: 280px;
    }

    #iBase {
        left: 515px;
        top: 394px;
        font-size: 11px;
    }
    
    .BasedropDown{
        left: 260px;
        top: 393px;
        width: 280px;
        height: 120px;
    }
}

@media (max-width: 1280px) and (max-height: 960px) { 
    #btnAcido {
        top: 466px !important;
    }

    #btnBase {
        top: 611px !important;
    }

    #mol {
        top: 521px !important;
    }

    #mais {
        top: 469px !important;
    }

    #menos {
        top: 551px !important;
    }

    #indicador {
        top: 356px !important;
    }

    .input-Acido {
        top: 356px !important;
    }

    #iAcido {
        top: 330px !important;
    }
    
    .AcidodropDown{
        top: 329px !important;
    }

    .input-Base {
        top: 356px !important;
    }

    #iBase {
        top: 330px !important;
    }
    
    .BasedropDown{
        top: 329px !important;
    }
}

@media (max-width: 1280px) and (max-height: 720px) { 
    #mesa {
        width: 52%;
    }
    
    #btnAcido {
        top: 282px !important;
        left: 391px;
        font-size: 12px;
        width: 80px;
    }

    #btnBase {
        top: 414px !important;
        left: 391px;
        font-size: 12px;
        width: 80px;
    }

    #mol {
        top: 337px !important;
        right: 337px;
        font-size: 12px;
    }

    #mais {
        top: 294px !important;
        right: 297px;
        width: 34px;
        height: 34px;
    }

    #menos {
        top: 365px !important;
        right: 297px;
        width: 34px;
        height: 34px;
    }

    #indicador {
        top: 196px !important;
        left: 300px;
        height: 55px;
        width: 125px;
    }

    .input-Acido {
        top: 196px !important;
        left: 300px;
        width: 220px;
    }

    #iAcido {
        top: 170px !important;
        left: 495px;
    }
    
    .AcidodropDown{
        top: 169px !important;
        left: 300px;
        width: 220px;
        height: 100px;
        font-size: 12px;
    }

    .input-Base {
        top: 196px !important;
        left: 300px;
        width: 220px;
    }

    #iBase {
        top: 170px !important;
        left: 495px;
    }
    
    .BasedropDown{
        top: 169px !important;
        left: 300px;
        width: 220px;
        height: 100px;
    }
}

@media (max-width: 1024px){ 
    #mesa {
        width: 65%;
    }
    
    #btnAcido {
        top: 335px !important;
        left: 265px;
    }

    #btnBase {
        top: 460px !important;
        left: 265px;
    }

    #mol {
        top: 385px !important;
        right: 210px;
    }

    #mais {
        top: 344px !important;
        right: 167px;
    }

    #menos {
        top: 413px !important;
        right: 167px;
    }

    #indicador {
        top: 196px !important;
        left: 200px;
    }

    .input-Acido {
        left: 200px;
    }

    #iAcido {
        left: 397px;
    }
    
    .AcidodropDown{
        left: 200px;
    }

    .input-Base {
        left: 200px;
    }

    #iBase {
        left: 395px;
    }
    
    .BasedropDown{
        left: 200px;
    }
}